
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #DAEEEF;
  height: 40px;
  width: 100%;
}

main {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #FBFFF4;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
}

footer {
  background-color: #DAEEEF;
  height: 40px;
  width: 100%;
}

nav {
  font-size: 18px;
  align-items: left;
}

nav a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: left;
  font-size: 22px;
}

nav a:hover {
  font-size: 24px;
  text-decoration: none;
}

table {
  border-spacing: 0px;
  border: 1px solid black;
  width: 60%;
}

th, td {
  text-align: center;
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #DAEEEF;
  color: black;
  text-align: center;
}

td {
  background-color: #FBFFF4;
  text-align: center;
}

td.form-label {
  text-align: right;
  background-color: #DAEEEF;
  height: 5%;
}

td.form-value {
  text-align: left;
  background-color: #FBFFF4;
}

td.show-review {
  text-align: justify;
  border: none;
}

table.login {
  margin: auto;
  border-spacing: 0px;
  border: none;
  height: 10%;
  width: 20%;
}

table.signup {
  margin: auto;
  border-spacing: 0px;
  border: none;
  height: 20%;
  width: 25%;
}

table.data {
  border-collapse: collapse; 
  margin: auto;
  width: 60%;
  height: auto;
}

table.sort {
  border-collapse: collapse; 
  margin: auto;
  width: 60%;
  height: auto;
  border: none;
}

a:link {
  color: #385257;
}
 
a:visited {
  color: #385257;
}

a:hover {
  color: #65939c;
}

input { 
  text-align: left;
}

textarea {
  text-align: left;
}

.alert {
  color: red;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

td.rev-content {
  text-align: left;
}

.item {
  height: 100%;
  width: 100%;
  margin: 5px;
  background-color: #FBFFF4;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 22px;
  text-align: center;
}

h4 {
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}