<br>
<h2>Login</h2>

<span class="alert">
    <%= flash[:not_logged_in] %>
    <%= flash[:credential_error] %>
</span>

<table class="login">
    <form method="POST" action="/login">
    <tr>
        <td class="form-label"><label for="username">Username: </label></td>
        <td class="form-value"><input type="text" id="username" name="username" size="30" required="required"></td>
    </tr>
    <tr>
        <td class="form-label"><label for="password">Password: </label></td>
        <td class="form-value"><input type="password" id="password" name="password" size="30" required="required"></td>
    </tr>
    </table>
    <h2><input type="submit" value="Submit"></h2>
    </form>
</table>