<h2>Sign Up</h2>

<span class="alert">
    <%= flash[:message] %>
</span>

<table class="signup">
    <form method="POST" action="/signup">
    <tr>
        <td class="form-label"><label for="name">Name: </label></td>
        <td class="form-value"><input type="text" id="name" name="user[name]" size="40" required="required"></td>
    </tr>
    <tr>
        <td class="form-label"><label for="email">Email: </label></td>
        <td class="form-value"><input type="text" id="email" name="user[email]" size="40" required="required"></td>
    </tr>
    <tr>
        <td class="form-label"><label for="username">Username: </label></td>
        <td class="form-value"><input type="text" id="username" name="user[username]" size="40"  required="required"></td>
    </tr>
    <tr>
        <td class="form-label"><label for="password">Password: </label></td>
        <td class="form-value"><input type="password" id="password" name="user[password]" size="40" required="required"></td>
    </tr>
</table>
    <h2><input type="submit" value="Submit"></h2>
    </form>