<br>
<table>
    <form method="POST" action="/signup">
    <tr>
        <td><label for="name">Name: </label></td>
        <td><input type="text" id="name" name="user[name]" size="40" required="required"></td>
    </tr>
    <tr>
        <td><label for="email">Email: </label></td>
        <td><input type="text" id="email" name="user[email]" size="40" required="required"></td>
    </tr>
    <tr>
        <td><label for="username">Username: </label></td>
        <td><input type="text" id="username" name="user[username]" size="40"  required="required"></td>
    </tr>
    <tr>
        <td><label for="password">Password: </label></td>
        <td><input type="password" id="password" name="user[password]" size="40" required="required"></td>
    </tr>
    <tr>
    <tr class="blank_row"> 
        <td>BLANK</td>
    </tr>
        <td colspan="4"><input type="submit" value="Submit"></td>
    </tr>
</table