<br>
<form method="POST" action="/posts">
    <label for="title">Title:</label>
    <br>
        <input type="text" id="title" name="post[title]" size="50" required="required">
    <br>
    <br>
    <label for="parks">National Park:</label>
    <br>
        <select id="parks" name="post[park_id]" required>
            <option value="" selected disabled hidden>select park</option>
            <% @parks.each do |park| %>
            <option value="<%= park.id %>"><%= park.name %></option>
            <% end %>
        </select>
    <br>
    <br>
    <label for="content">Content:</label>
    <br>
        <textarea id="content" name="post[content]" placeholder="Enter your review here." rows="12" cols="80" required="required"></textarea>
    <br>
    <br>
    <label for="rating">Rating:</label>
    <br>
        <select id="rating" name="post[rating]" required>
            <option value="" selected disabled hidden>select rating</option>
            <option value="5">5 (highest)</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1 (lowest)</option>
        </select>
    <br>
    <input type="hidden" id="time" name="post[created_at]" value="<%= Time.current %>">
    <br>
    <input type="submit" value="Create Review">
<form>