
<form method="POST" action="/posts">
    <label for="title">Title:</label>
    <br>
    <input type="text" id="title" name="post[title]" size="81">
    <br>
    <br>
    <label for="content">Content:</label>
    <br>
    <textarea id="content" name="post[content]" rows="12" cols="80">Enter your review in here.</textarea>
    <br>
    <br>
    <input type="submit" value="Create Review">
<form>