<br>
<h3>NatParkRev is your source for user-generated National Park reviews!</h3>

<% if !logged_in? %>
    <span class="alert">
        <h3>Please login or sign up to see all reviews.</h3>
    </span>
<% end %>