<h3><span class="nat-park-rev">NatParkRev</span> is your source for user-generated National Park reviews!</h3>

<% if !logged_in? %>
    <span class="alert">
        <h3>Please login or sign up to see reviews</h3>
    </span>
<% end %>

<img src="images/DSC04353-3.jpg">
<br>
<br>