<br>
<br>

<div class="splash-container">
    <img src="images/DSC04353-3.jpg">
  <div class="splash-text">
    <h3>
     <span class="nat-park-rev">NatParkRev</span> is your source for user-generated<br>
    National Park reviews!
    </h3>
    <br>
    <% if !logged_in? %>
      <h4>Please login or sign up to see reviews</h4>
    <% end %>
  </div>
</div>
<br>
<br>