<h3>Your source for user-generated National Park reviews!</h3>
<br>
<h4>All reviews are available without an account.</h4>
<h4>If you would like to post a review, please sign in or sign up below.</h4>
<br>
<nav>
<%= not_logged_in_buttons if !logged_in? %>
<%= logged_in_buttons if logged_in? %>
</nav>