<!doctype html>
<html>
  <head>
    <title>NatParkRev</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
  </head>
  <body>
    
    <div class="container">
      <h1><a href="/">NatParkRev</a></h1>
      <%= yield %>
    </div>
    
  </body>
</html>