<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NatParkRev</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
<body>

  <div class="flex-container">
    <header>
      <nav>
        <%= !logged_in? ? display_nav_not_logged_in : display_nav_logged_in %>
      </nav>
    </header>
    <main>
      <div class="item"><%= yield %></div>
    </main>
    <footer></footer>
  </div>

</body>
</html>
